<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>diaryトップページ</title>
</head>
<body>
    <h1>diaryトップページ!!</h1>
    <h3 th:text="${tag}"></h3>
    <form method="post" action="/test/input">
        <input name="testInput" type="test">
        <button type="submit">送信</button>
    </form>
    <p th:text="${testInput}"></p>
</body>
</html>